:root {
  --primary: #198ad0;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #ffff;
  min-height: 3000px;
}

/* NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 6%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #0b3d5c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #ffff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/bg3.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 3%,
    rgba(225, 225, 225, 0) 25%
  );
}

.hero .content {
  padding: 1.3rem 6%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5.5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: #fce23f;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
  /* font-weight: 10; */
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #000000;
  background-color: #fce23f;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Tentang Section */
.tentang,
.kategori,
.kontak {
  padding: 8rem 5% 1.3rem;
}

.tentang h2,
.kategori h2,
.kontak h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.tentang h2 span,
.kategori h2 span,
.kontak h2 span {
  color: var(--primary);
}

.tentang .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  padding: 0;
  margin-bottom: 5rem;
}

.tentang .row .tentang-img {
  flex: 1 1 5%;
  display: flex;
  justify-content: center;
}

.tentang .row .tentang-img img {
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: contain;
}

.tentang .row .content {
  flex: 1 1 50%;
  padding: 0 1rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  line-height: 1.4;
}

.tentang .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.tentang .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: justify;
}

/* Kategori Section */
.kategori h2,
.kontak h2 {
  margin-bottom: 1rem;
}

.kategori p,
.kontak p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  font-size: 1.4rem;
}

.kategori .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}

.kategori .row .kategori-card {
  text-align: center;
}
.kategori .row .kategori-card img {
  border-radius: 3%;
  width: 90%;
}

.kategori .row .kategori-card-title {
  margin-top: 1.5rem auto 0.5rem;
}

.kategori .row .kategori-card-harga {
  margin-bottom: 3rem;
}

/* Kontak Section */
.kontak .row {
  display: flex;
  margin-top: 2rem;
  background-color: #198ad0;
  flex-wrap: wrap;
}

.kontak .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.kontak .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.kontak .row form .input-grup {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.kontak .row form .input-grup input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.kontak .row form .btn {
  margin: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #f95403;
  background-color: #fce23f;
  border-radius: 7px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .sosial {
  padding: 1rem 0;
  display: inline-block;
  margin: 0 0.25rem;
}

footer .sosial a {
  color: #fff;
  margin: 1rem;
}

footer .sosial a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 600;
}

/* Media Queris */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 920px) {
  html {
    font-size: 62%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.27);
  }

  .tentang .row {
    padding: 2rem -2% 1.3rem;
    flex-wrap: wrap;
    flex-direction: column; /* Susun vertikal */
    text-align: justify; /* Biar teks lebih rapi */
    gap: 2rem;
  }

  .tentang .row .content {
    flex: none;
    width: 100%;
    order: 1; /* Paragraf di atas */
  }

  .tentang .row .tentang-img {
    flex: none;
    width: 30%;
    order: 2; /* Gambar di bawah */
  }

  .kontak .row {
    flex-wrap: wrap;
  }

  .kontak .row map {
    height: 30rem;
  }

  .kontak .row form {
    padding-top: 0;
  }
}

/* Hand Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
